* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  background-color: rgb(17, 17, 17);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seminar-hall {
  display: flex;
  justify-content: center;
}

.seat-map {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 8px;
  height: 100vh;
}

.seat {
  width: 40px;
  height: 40px;
  background-color: rgb(116, 117, 15);
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.seat.booked {
  background-color: rgb(201, 255, 4);
  color: black;
  cursor: not-allowed;
}

.booking-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 0px 24px;
  margin-top: 0px;
  gap: 10px;
}

.booking-form div {
  display: flex;
  flex-direction: column;
}


.seat:nth-child(20n ) {
  margin-bottom: 20px;
}
